#
# APP
#
EMAIL_SERVICE_HOST=email-service
GRPC_EMAIL_SERVICE_PORT=7081
HTTP_SUBSCRIPTION_SERVICE_PORT=7082
WEATHER_SERVICE_HOST=weather-service
HTTP_WEATHER_SERVICE_PORT=7083
GRPC_WEATHER_SERVICE_PORT=7084
BASE_URL=http://127.0.0.1:7082
SERVE_ROOT=/
#
# API
#
WEATHER_API_URL=url_to_your_api
WEATHERBIT_URL=url_to_your_api
WEATHERSTACK_URL=url_to_your_api

WEATHER_API_KEY=your_api_key
WEATHERBIT_KEY=your_api_key
WEATHERSTACK_KEY=your_api_key
#
# DATABASE
#
DATABASE_NAME=weather_notify
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_HOST=db  
#
# TEST DATABASE
#
TEST_DATABASE_NAME=weather_notify_test
TEST_DATABASE_USER=postgres
TEST_DATABASE_PASSWORD=postgres
TEST_DATABASE_PORT=5435
TEST_DATABASE_HOST=weather-db-test   
#
# EMAIL TRANSPORT
#
EMAIL_HOST=your_host
EMAIL_PORT=your_port
EMAIL_USER=your_email
EMAIL_PASS=your_email_password_or_app_password
EMAIL_FROM=no-reply@weather-notify.com
EMAIL_TLS=false
#
# Cache
#
CACHE_TTL=your_cache_ttl
REDIS_HOST=your_host
REDIS_PORT=your_port
#
# TEST CACHE
#
TEST_CACHE_TTL=your_cache_ttl  
TEST_REDIS_HOST=your_host  
TEST_REDIS_PORT=your_port
